.fix-container {
  $container-size: 60px;
  position: fixed;
  right: -1px;
  top: -1px;
  height: $container-size;
  width: $container-size;
  z-index: 10;
  @include width-mobile {
    display: none;
  }
  .triangle:hover,
  .icon-container:hover ~ .triangle {
    transform: rotate3d(-1, -1, 0, 180deg);
    box-shadow: 0 0 2px $border-color-base;
    background: #eee;
    top: 0px;
    left: 0px;
  }
  .triangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: $container-size + 1;
    height: $container-size + 1;
    background: #fff;
    transition: 0.6s ease-in-out;
    position: absolute;
    top: 1px;
    left: -1px;
  }
  .icon-container {
    height: $container-size;
    width: $container-size;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    color: $text-color;
    position: absolute;
    &:hover,
    &:active,
    &:link {
      color: $text-color;
    }
    .icon {
      transform: rotate(45deg);
      font-size: $container-size / 2;
      height: $container-size * 5 / 6;
    }
  }
}
