.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  padding: 1px;

  .frame {
    overflow: auto;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 1px #ccc;
    padding: 3px;
    white-space: pre-wrap;
  }

  .text {
    cursor: text;
  }
}