.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .frame {
        overflow: auto;
        width: 50%;
        height: 100%;
        box-shadow: 0 0 1px #ccc;
        padding: 3px;
        white-space: pre-wrap;
        margin-top: 1px;
    }
}