.tab {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  text-align: center;
  line-height: 45px;
  display: block;
}

.tab-route-content-wrapper {
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 60px);
}

.tab-route-content {
  width: 100%;
  position: absolute;
  &.enter {
    transform: translateX(20%);
    opacity: .3;
  }
  &.enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: .3s ease-out;
  }
  &.exit-active {
    transform: translateX(-20%);
    opacity: 0;
    transition: .3s ease-in;
    z-index: -1;
  }
  &.exit-done {
    transform: translateX(-20%);
    opacity: 0;
    z-index: -1;
  }
}

.tabs {
  :global {
    .ant-tabs-tab {
      padding: 0;
      height: 45px;
    }
  }
}

.tab-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}