.pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.keyword {
  color: $primary-color;
}

.comment {
  color: #006621;
}